.container {
  font-family:
    -apple-system,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif,
    Helvetica,
    Arial,
    sans-serif;

  grid-template-columns: 1fr;
  grid-template-rows: 10vh auto 10vh;
  width: 100%;
  min-height: 100vh;

  > .title {
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

  > .list {
    background-color: #f5f1e8;
    padding: 10px;
    margin: 10px;
    margin-top: 0;
    border-radius: 10px;
    overflow: hidden;

    > a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: black;
      padding-bottom: 0;
      &:not(:nth-child(1)) {
        border-top: 1px solid gray;
      }
      &:nth-child(1) {
        padding-top: 0;
      }
      &:not(&:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  > .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeefef;
  }
}

app-klinik {
  app-markdown {
    h1 {
      font-size: 20px;
    }
  }
}

.clinic-head {
  margin: -10px;
  padding: 10px;
  display: flex;
  flex-flow: wrap;
}

.clinic-head-leader {
  display: grid;
  grid-template-columns: 50% 50%;
}

app-is-mobile:not(.mobile) {
  .clinic-head {
    container-type: inline-size;
    .clinic-head-leader {
      max-width: 25cqw;
    }
  }
}

.clinic-head-leader-picture {
  padding: 10px;
  img {
    max-width: 100%;
    border-radius: 50%;
  }
  .no-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.clinic-head-leader-info {
  padding: 10px;
  display: flex;
  align-items: center;
  span {
    height: fit-content;
  }
}

.clinic-info {
  margin: -10px;
  padding: 10px;
}

.clinic-points {
  margin: -10px;
  padding: 10px;
}

.clinic-contact {
  margin: -10px;
  padding: 10px;
}

.clinic-head,
.clinic-info,
.clinic-points,
:not(.leaders-contact) > .clinic-contact {
  &:nth-child(even) {
    background-color: lightgray;
  }
}

.leaders-contact {
  &:nth-child(even) {
    .clinic-contact {
      &:nth-child(odd) {
        background-color: lightgray;
      }
    }
  }
  &:nth-child(odd) {
    .clinic-contact {
      &:nth-child(even) {
        background-color: lightgray;
      }
    }
  }
}

.link-noline {
  text-decoration: dashed;
  color: black;
}
